###python comments..

In [ ]:
#print a name..
print("nazmul")

# we can print multiple string using triple qutation...
"""
using print() we can print something...
"""

nazmul

'\nusing print() we can print something...\n'

## Python variable

In [ ]:
# Python has no command for declaring a variable.
# A variable is created the moment you first assign a value to it.

# Creating Variables:
x=4
y=7.7
z="nazmul haque"

print(x)
print(y)
print(z)


# Casting::
# If you want to specify the data type of a variable, this can be done with casting.
x=int(5)
y=str(5)
z=float(5)
print(x)
print(y)
print(z)


# Get the Type::
# You can get the data type of a variable with the type() function.

print(type(x))
print(type(y))
print(type(z))


# Single or Double Quotes?
#String variables can be declared either by using single or double quotes:
x="hello,world!"
y='hello,nazmul'
print(x)
print(y)


# Case-Sensitive:
# Variable names are case-sensitive.
x=5
X=6
print(x)
print(X)

4
7.7
nazmul haque
5
5
5.0
<class 'int'>
<class 'str'>
<class 'float'>
hello,world!
hello,nazmul
5
6

# Python-variables name..

In [ ]:
"""
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.
"""

'\nA variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:\nA variable name must start with a letter or the underscore character\nA variable name cannot start with a number\nA variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )\nVariable names are case-sensitive (age, Age and AGE are three different variables)\nA variable name cannot be any of the Python keywords.\n'

# Assign multiple variable..

In [ ]:
# Many Values to Multiple Variables
x,y,z=3,5.4,'hi'
print(x)
print(y)
print(z)


# One Value to Multiple Variables
x=y=z='hello'
print(x)
print(y)
print(z)


# Unpack a Collection
#If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

num=[1,2,3]
x,y,z=num
print(x)
print(y)
print(z)

3
5.4
hi
hello
hello
hello
1
2
3

# Python -output variables

In [ ]:
# The Python print() function is often used to output variables.
print("hi")


# In the print() function, you output multiple variables, separated by a comma:
x='python'
y='is'
z='awesome'

print(x,y,z)


# You can also use the + operator to output multiple variables:
x='python'
y='is'
z='awesome'

print(x +  y  +  z)



# For numbers, the + character works as a mathematical operator:
x=3
y=5
print(x+y)

# In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
#x=3
#y='hi'
#print(x+y)

hi
python is awesome
pythonisawesome
8

# Python - Global Variables

In [ ]:
# Variables that are created outside of a function (as in all of the examples above) are known as global variables.

# Global variables can be used by everyone, both inside of functions and outside.


x='awesome'

def func():
   print('python is '+ x)

func()



# If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.
x='awesome'

def func():
  x='fantastic'
  print('python is '+ x)

func()
print('python is '+ x)



# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x='awesome'

def func():
  global x
  x='fantastic'
  print('python is '+ x)

func()
print('python is '+ x)

python is awesome
python is fantastic
python is awesome
python is fantastic
python is fantastic

# Python Data Type

In [ ]:
"""
Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
"""

'\nBuilt-in Data Types\nIn programming, data type is an important concept.\n\nVariables can store data of different types, and different types can do different things.\n\nPython has the following data types built-in by default, in these categories:\n\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\nNone Type:\tNoneType\n'

# Python numbers

In [ ]:
# Variables of numeric types are created when you assign a value to them:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))


# int:
# Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))


# float:
# Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))



# Type Conversion
# You can convert from one type to another with the int(), float(), and complex() methods:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python random number generation

In [ ]:
# Random Number:
# Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

import random
print(random.randrange(1,10)) # generate one random number between 1-10

5

# Python String

In [ ]:
'''
Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.
'''

# Get the character at position 1 (remember that the first character has the position 0):
x='nazmul'
print(x[3])

print('Looping Through a String')
# Looping Through a String:
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

x='nazmul'
for i in x:
  print(i)

print('String Length')
print(len(x))



# Check String:
# To check if a certain phrase or character is present in a string, we can use the keyword in.
print('Check String')

x='allah is almighty'
if 'is' in x:
  print('yes, is exist in x')
else:
  print('no, is not exist in x')



# Check if NOT
print('check if not')

print('Check String')

x='allah almighty'
if 'is' not in x:
  print('no, is not exist in x')
else:
  print('yes, is exist in x')

m
Looping Through a String
n
a
z
m
u
l
String Length
6
Check String
yes, is exist in x
check if not
Check String
no, is not exist in x

# Python - Slicing Strings

In [ ]:
'''
Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.
'''
x='nazmul'
print(x[1:4])
print(x[:3])
print(x[1:])


# Negative Indexing
# Use negative indexes to start the slice from the end of the string:
x='nazmul'
print(x[-4:-1])

azm
naz
azmul
zmu

# Modify string

In [ ]:
a='Hello, World  '

# Upper Case
print(a.upper())

# Lower Case
print(a.lower())

# Split String
print(a.split(','))

# Remove Whitespace
print(a.strip())

# Replace String
print(a.replace('H','T'))

HELLO, WORLD
hello, world
['Hello', ' World  ']
Hello, World
Tello, World

# Python - String Concatenation

In [ ]:
x='Nazmul'
y="Haque"
z=x+y
print(z)

# or

print(x + ' ' + y)

NazmulHaque
Nazmul Haque

# Python - Format - Strings

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character

In [ ]:
# The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# String Methods

In [ ]:
'''
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning
'''

# Python Boolean

In [ ]:
'''
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.
'''
print(bool(3))
print(bool('hi'))
print(bool(['hi','hello']))

print(bool(0))
print(bool(''))
print(bool([]))

if 5>2 :
  print("greater\n")
else:
  print("lower\n")

True
True
True
False
False
False
greater

# Python Operators

In [ ]:
'''
Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example	Try it
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y
'''


'''
Python Assignment Operators
Assignment operators are used to assign values to variables:

Operator	Example	Same As	Try it
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3
'''




'''
Python Comparison Operators
Comparison operators are used to compare two values:

Operator	Name	Example	Try it
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y
'''



'''
Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	Example
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true
'''



'''
Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example	Try it
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object
'''




'''
Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example	Try it
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object
'''




'''
The precedence order is described in the table below, starting with the highest precedence at the top:

Operator	Description	Try it
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR
If two operators have the same precedence, the expression is evaluated from left to right.
'''

'\nThe precedence order is described in the table below, starting with the highest precedence at the top:\n\nOperator\tDescription\tTry it\n()\tParentheses\n**\tExponentiation\n+x  -x  ~x\tUnary plus, unary minus, and bitwise NOT\n*  /  //  %\tMultiplication, division, floor division, and modulus\n+  -\tAddition and subtraction\n<<  >>\tBitwise left and right shifts\n&\tBitwise AND\n^\tBitwise XOR\n|\tBitwise OR\n==  !=  >  >=  <  <=  is  is not  in  not in \tComparisons, identity, and membership operators\nnot\tLogical NOT\nand\tAND\nor\tOR\nIf two operators have the same precedence, the expression is evaluated from left to right.\n'

# Python list

In [ ]:
'''
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:
'''
arr=[1,2,3]
print(arr)


'''
List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.
'''


'''
Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.
'''


'''
Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
'''

'''
List Length
To determine how many items a list has, use the len() function:
'''
print(len(arr))

[1, 2, 3]
3

Python - Access List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])


'''
Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.
'''

print(thislist[-1])


'''
Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.
'''
print(thislist[:2])
print(thislist[1: 2])
print(thislist[1:])
print(thislist[-3:-1])

if 'apple' in thislist:
  print('yes')

banana
cherry
['apple', 'banana']
['banana']
['banana', 'cherry']
['apple', 'banana']
yes

Python - Change List Items

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
'''
Change Item Value
To change the value of a specific item, refer to the index number:
'''
thislist[4]='sweet'
print(thislist)



'''
Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
'''
thislist[2:4]=['blackcurrant','watermilon']
print(thislist)



'''
Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:
'''
thislist.insert(2,'banana')
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'sweet', 'mango']
['apple', 'banana', 'blackcurrant', 'watermilon', 'sweet', 'mango']
['apple', 'banana', 'banana', 'blackcurrant', 'watermilon', 'sweet', 'mango']

Python - Add List Items

In [ ]:
'''
Append Items
To add an item to the end of the list, use the append() method:
'''

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist.append('watermilon')
print(thislist)

'''
Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:
'''
thislist.insert(1,'water')
print(thislist)


'''
Extend List
To append elements from another list to the current list, use the extend() method.
'''
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)



'''
Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
'''
thistuple = ("kiwi", "orange")
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'watermilon']
['apple', 'water', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'watermilon']
['apple', 'water', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'watermilon', 'mango', 'pineapple', 'papaya']
['apple', 'water', 'banana', 'cherry', 'orange', 'kiwi', 'mango', 'watermilon', 'mango', 'pineapple', 'papaya', 'mango', 'pineapple', 'papaya']

Python - Remove List Items

In [ ]:
'''
Remove Specified Item
The remove() method removes the specified item.
'''
tropical = ["mango", "pineapple", "papaya"]
tropical.remove('mango')
print(tropical)



'''
Remove Specified Index
The pop() method removes the specified index.
If you do not specify the index, the pop() method removes the last item.
'''
tropical.pop(1)
print(tropical)
tropical.pop()
print(tropical)


'''
The del keyword also removes the specified index:
The del keyword can also delete the list completely.
'''

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist



'''
Clear the List
The clear() method empties the list.

The list still remains, but it has no content.
'''
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

['pineapple', 'papaya']
['pineapple']
[]
['banana', 'cherry']
[]

Python - Loop Lists

In [ ]:
'''
Loop Through a List
You can loop through the list items by using a for loop:
'''
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)


'''
Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.
'''
for i in range(0,len(thislist)):
  print(thislist[i])


'''
Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.
'''

i=0
while i<len(thislist):
  print(thislist[i])
  i +=1

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

Python - List Comprehension

In [ ]:
'''
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:
'''

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]

for x in fruits:
  if 'a' in x:
    newlist.append(x)
print(newlist)

# With list comprehension you can do all that with only one line of code:
newlist=[x for x in fruits if 'a' in x]
print(newlist)

newlist=[x.upper() for x in fruits]
print(newlist)

newlist=[x for x in range(10)]
print(newlist)

newlist=[x for x in range(10) if x<5]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

Python - Sort Lists

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
num=[8,3,1,49,333,-2,0,34,7,9]

# reverse the order of the list elements..
fruits.reverse()
num.reverse()
print(fruits)
print(num)

# increasing sort
fruits.sort()
num.sort()
print(fruits)
print(num)

# decreasing sor
fruits.sort(reverse=True)
num.sort(reverse=True)
print(fruits)
print(num)

['mango', 'kiwi', 'cherry', 'banana', 'apple']
[9, 7, 34, 0, -2, 333, 49, 1, 3, 8]
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[-2, 0, 1, 3, 7, 8, 9, 34, 49, 333]
['mango', 'kiwi', 'cherry', 'banana', 'apple']
[333, 49, 34, 9, 8, 7, 3, 1, 0, -2]

Python - Copy Lists

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
newlist=fruits.copy()
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Python - Join Lists

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
num=[8,3,1,49,333,-2,0,34,7,9]

# way-3
for x in num:
  fruits.append(x)
print(fruits)

# way-1
fn=fruits+num
print(fn)

#way-2
num.extend(fruits)
print(num)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 8, 3, 1, 49, 333, -2, 0, 34, 7, 9]
['apple', 'banana', 'cherry', 'kiwi', 'mango', 8, 3, 1, 49, 333, -2, 0, 34, 7, 9, 8, 3, 1, 49, 333, -2, 0, 34, 7, 9]
[8, 3, 1, 49, 333, -2, 0, 34, 7, 9, 'apple', 'banana', 'cherry', 'kiwi', 'mango', 8, 3, 1, 49, 333, -2, 0, 34, 7, 9]

Python - List Methods

In [ ]:
'''
List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list
'''

'\nList Methods\nPython has a set of built-in methods that you can use on lists.\n\nMethod\tDescription\nappend()\tAdds an element at the end of the list\nclear()\tRemoves all the elements from the list\ncopy()\tReturns a copy of the list\ncount()\tReturns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\tReturns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()\tRemoves the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()\tSorts the list\n'

# Python Tuples

In [ ]:
'''
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:
'''

thistuple=("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))
print(type(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>

Python - Access Tuple Items

In [ ]:
thistuple=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2])
print(thistuple[-1])
print(thistuple[2:4])
print(thistuple[:3])
print(thistuple[2:])

if 'apple' in thistuple:
  print('yes')

cherry
mango
('cherry', 'orange')
('apple', 'banana', 'cherry')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
yes

Python - Update Tuples

In [ ]:
'''
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.You can convert the tuple into a list, change the list, and convert the list back into a tuple.
'''

# update value in tuple
x=("apple", "banana", "cherry")
y=list(x)
y[1]='orange'
x=tuple(y)
print(x)

# append a value in tuple
y=list(x)
y.append('banana')
x=tuple(y)
print(x)

# add two tuple
y=(1,3,4)
z=x+y
print(z)

# remove an item from a tuple
y=list(x)
y.remove('orange')
x=tuple(y)
print(x)

# del whole tuple

# del x
# print(x)

('apple', 'orange', 'cherry')
('apple', 'orange', 'cherry', 'banana')
('apple', 'orange', 'cherry', 'banana', 1, 3, 4)
('apple', 'cherry', 'banana')

Python - Loop Tuples

In [ ]:
x=("apple", "banana", "cherry")
for i in x:
  print(i)

# using index
print('using index')
for i in range(len(x)):
  print(x[i])

# using while loop
print('using while loop')
i=0
while i<len(x):
  print(x[i])
  i +=1

apple
banana
cherry
using index
apple
banana
cherry
using while loop
apple
banana
cherry

Python - Join Tuples

In [ ]:
x=("apple", "banana", "cherry")
y=(1,2,3)
print(x+y)

# If you want to multiply the content of a tuple a given number of times, you can use the * operator:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')


Python - Tuple Methods

In [ ]:
'''
Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found
'''

In [ ]:
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))


x="Abdullah Al Mamun"
y='Nazmul Haque'
print(x)
print(y)

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>
Abdullah Al Mamun
Nazmul Haque

In [ ]:
# Mutiple value in Multiple variable

x,y,z='apple','bannana','orange'
print(x)
print(y)
print(z)

fruits=['apple','bannana','orange']
x,y,z=fruits
print(x)
print(y)
print(z)

apple
bannana
orange
apple
bannana
orange

Python Type Casting

In [ ]:
x=int(2.0)
y=int('2')
print(x)
print(y)

x=float(2)
y=float('3')
print(x)
print(y)

x=str(2)
y=str(3.5)
print(type(x))
print(type(y))

2
2
2.0
3.0
<class 'str'>
<class 'str'>

# Python Sets

set basics

In [ ]:
'''
Sets are used to store multiple items in a single variable.
A set is a collection which is unordered, unchangeable*, and unindexed.
Sets are written with curly brackets.
'''
thisset={"apple", "banana", "cherry"}
print(thisset)
print(len(thisset))

'''
Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.
'''

{'banana', 'apple', 'cherry'}
3

'\nSet Items\nSet items are unordered, unchangeable, and do not allow duplicate values.\n\nUnordered\nUnordered means that the items in a set do not have a defined order.\n\nSet items can appear in a different order every time you use them, and cannot be referred to by index or key.\n\nUnchangeable\nSet items are unchangeable, meaning that we cannot change the items after the set has been created.\n\nOnce a set is created, you cannot change its items, but you can remove items and add new items.\n'

Python - Access Set Items

In [ ]:
'''
Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Example
'''
thisset={"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

Python - Add Set Items

In [ ]:
'''
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.
'''
thisset={"apple", "banana", "cherry"}
thisset.add('orange')
print(thisset)

# To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'pineapple', 'mango', 'papaya', 'apple', 'cherry'}
{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

Python - Remove Set Items

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# Note: If the item to remove does not exist, remove() will raise an error.


# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

# Note: If the item to remove does not exist, discard() will NOT raise an error.

'''
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.
'''
# Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)


# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

#del thisset

print(thisset)

{'apple', 'cherry'}
{'apple', 'cherry'}
set()
{'banana', 'apple', 'cherry'}

Python - Loop Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
cherry
apple

Python - Join Sets

In [ ]:
'''
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:
'''
s1={'a','b','c'}
s2={'a',1,2,3}

# The intersection_update() method will keep only the items that are present in both sets.
s1.intersection_update(s2)
print(s1)

# The intersection_update() method will keep only the items that are present in both sets.
s3=s1.intersection(s2)
print(s3)

# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
s1.symmetric_difference_update(s2)
print(s1)

# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
s3=s1.symmetric_difference(s2)
print(s3)


s1={'a','b','c'}
s2={'a',1,2,3}
s3=s1.union(s2)
print(s3)

# using update
s1.update(s2)
print(s1)

# *** Note: Both union() and update() will exclude any duplicate items.

{'a'}
{'a'}
{1, 2, 3}
{'a'}
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}

Python - Set Methods

In [ ]:
'''
Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
'''

# Python Dictionaries

In [ ]:
'''
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values:
'''
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}
print(thisdirect)
print(thisdirect["name"])

# Dictionaries cannot have two items with the same key:
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001,
    "year":2004
}
print(thisdirect)
print(len(thisdirect))

{'name': 'nazmul', 'roll': 1803109, 'year': 2001}
nazmul
{'name': 'nazmul', 'roll': 1803109, 'year': 2004}
3

Python - Access Dictionary Items

In [ ]:
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}

x=thisdirect.get("name")
print(x)

x=thisdirect.keys()
print(x)

thisdirect["color"]='white'

# The keys() method will return a list of all the keys in the dictionary.
x=thisdirect.keys()
print(x)

# The values() method will return a list of all the values in the dictionary.
x=thisdirect.values()
print(x)

# The items() method will return each item in a dictionary, as tuples in a list.
x=thisdirect.items()
print(x)

nazmul
dict_keys(['name', 'roll', 'year'])
dict_keys(['name', 'roll', 'year', 'color'])
dict_values(['nazmul', 1803109, 2001, 'white'])
dict_items([('name', 'nazmul'), ('roll', 1803109), ('year', 2001), ('color', 'white')])

Python - Change Dictionary Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Python - Add Dictionary Items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"]='red'
print(thisdict)

# Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Python - Remove Dictionary Items

In [ ]:
# The pop() method removes the item with the specified key name:
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}

thisdirect.pop("year")
print(thisdirect)

# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdirect.popitem()
print(thisdirect)

# The del keyword removes the item with the specified key name:
del thisdirect["name"]
print(thisdirect)


# The clear() method empties the dictionary:
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}
thisdirect.clear()
print(thisdirect)

{'name': 'nazmul', 'roll': 1803109}
{'name': 'nazmul'}
{}
{}

Python - Loop Dictionaries

In [ ]:
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}

# Print all key names in the dictionary, one by one:
for x in thisdirect:
  print(x)


# Print all values in the dictionary, one by one:
for x in thisdirect:
  print(thisdirect[x])

# You can also use the values() method to return values of a dictionary:
for x in thisdirect.values():
  print(x)


# You can use the keys() method to return the keys of a dictionary:
for x in thisdirect.keys():
  print(x)


# Loop through both keys and values, by using the items() method:
for x,y in thisdirect.items():
  print(x,y)

name
roll
year
nazmul
1803109
2001
nazmul
1803109
2001
name
roll
year
name nazmul
roll 1803109
year 2001

Python - Copy Dictionaries

In [ ]:
# There are ways to make a copy, one way is to use the built-in Dictionary method copy().
thisdirect={
    "name":'nazmul',
    "roll": 1803109,
    "year": 2001
}
mydirec=thisdirect.copy()
print(mydirec)

{'name': 'nazmul', 'roll': 1803109, 'year': 2001}

Python - Nested Dictionaries

In [ ]:
# A dictionary can contain dictionaries, this is called nested dictionaries.
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)
print(myfamily["child1"])
print(myfamily["child1"]["name"])

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
{'name': 'Emil', 'year': 2004}
Emil

Python Dictionary Methods

In [ ]:
'''
Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary
'''

"\nDictionary Methods\nPython has a set of built-in methods that you can use on dictionaries.\n\nMethod\tDescription\nclear()\tRemoves all the elements from the dictionary\ncopy()\tReturns a copy of the dictionary\nfromkeys()\tReturns a dictionary with the specified keys and value\nget()\tReturns the value of the specified key\nitems()\tReturns a list containing a tuple for each key value pair\nkeys()\tReturns a list containing the dictionary's keys\npop()\tRemoves the element with the specified key\npopitem()\tRemoves the last inserted key-value pair\nsetdefault()\tReturns the value of the specified key. If the key does not exist: insert the key, with the specified value\nupdate()\tUpdates the dictionary with the specified key-value pairs\nvalues()\tReturns a list of all the values in the dictionary\n"

# Python If ... Else

In [ ]:
# The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

# The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")


# If you have only one statement to execute, you can put it on the same line as the if statement.
a = 2
b = 330
print("A") if a > b else print("B")


# The and keyword is a logical operator, and is used to combine conditional statements:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")



# The or keyword is a logical operator, and is used to combine conditional statements:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

# You can have if statements inside if statements, this is called nested if statements.

x=31

if x>10:
  print('above 10')
  if x>20:
    print("and also greater than 20")
  else:
    print("but not 20")

a and b are equal
a is greater than b
B
Both conditions are True
At least one of the conditions is True
above 10
and also greater than 20

# Python While Loops

In [ ]:
# With the while loop we can execute a set of statements as long as a condition is true.

i=1;
while i<6:
  print(i)
  i +=1
else:
  print('finished')

# With the break statement we can stop the loop even if the while condition is true:

i=1;
while i<10:
  print(i)
  if i==3:
    break;
  i +=1

# With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
3
4
5
finished
1
2
3
1
2
4
5
6

Python for loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)
else:
  print('finished')

apple
cherry
finished

# List

In [ ]:
# python list is changable,ordered,duplicate value accept.
# list can be any type. such as int,float,string.
lst=[1,2,3,4,5]
print(lst)
print(len(lst))
print(type(lst))

lst=['1','2','3']
print(lst)
print(len(lst))
print(type(lst))

lst=[True,False,True,True,False]
print(lst)
print(len(lst))
print(type(lst))

[1, 2, 3, 4, 5]
5
<class 'list'>
['1', '2', '3']
3
<class 'list'>
[True, False, True, True, False]
5
<class 'list'>

Access List Item

In [ ]:
lst=[1,2,3,4,5]
print(lst[3])
print(lst[-1])
print(lst[2:4]) # this will return the items from position 2 to 4.
# Remember that the first item is position is 0, and the item ate position 4 is not include.
print(lst[:3]) # returns item from beggining to, but not including position 3.
print(lst[1:]) # returns item from position 1 to end.
print(lst[-4:-1]) # not include last element.

if 4 in lst:
  print('yes')

if 6 not in lst:
  print("no")

4
5
[3, 4]
[1, 2, 3]
[2, 3, 4, 5]
[2, 3, 4]
yes
no

Change List Item

In [ ]:
lst=[1,2,3,4,5]
lst[1]=10
print(lst)

lst[1:2]=[11,12]
print(lst)

lst.insert(2,15)
print(lst)

lst.insert(len(lst),20)
print(lst)

lst1=[6,7,8]
lst.extend(lst1)
print(lst)

[1, 10, 3, 4, 5]
[1, 11, 12, 3, 4, 5]
[1, 11, 15, 12, 3, 4, 5]
[1, 11, 15, 12, 3, 4, 5, 20]
[1, 11, 15, 12, 3, 4, 5, 20, 6, 7, 8]

Loop List

In [ ]:
for i in range(len(lst)):
  print(lst[i])

print('using while loop')

i=0;
while i<len(lst):
  print(lst[i])
  i +=1

1
11
15
12
3
4
5
20
6
7
8
using while loop
1
11
15
12
3
4
5
20
6
7
8

List Comprehension

In [ ]:
newlist=[]
for x in lst:
  if x>5 :
    newlist.append(x)
print(newlist)

[11, 15, 12, 20, 6, 7, 8]

In [ ]:
newlist.sort()
print(newlist)

newlist.sort(reverse=True)
print(newlist)

lst.reverse()
print(lst)

[6, 7, 8, 11, 12, 15, 20]
[20, 15, 12, 11, 8, 7, 6]
[8, 7, 6, 20, 5, 4, 3, 12, 15, 11, 1]

# Print Something using Format function.....

In [ ]:
a=3
b=4
print('a is {} and b is {}'.format(a,b))

a is 3 and b is 4

###Python Password Generator

In [ ]:
import random

def random_password_generator():
  length=8
  chars="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
  password=""

  for i in range(length):
    password +=random.choice(chars)
  return password

password=random_password_generator()
print(password)

okjUpQK4

###Factorial of a number

In [ ]:
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact(n-1)



print("Enter a number: ")
n=int(input())
factorial=fact(n)
print(f"The factorial of {n} is {factorial}")

Enter a number:
5
The factorial of 5 is 120

# Python function

In [ ]:
def full_name(f_name,l_name):
  print("my first name is {}".format(f_name))
  print("my last name is {}".format(l_name))
  print("my full name is {}".format(f_name,l_name))

full_name("Nazmul","Haque")
full_name(l_name="Rahman",f_name="Mizanur")

my first name is Nazmul
my last name is Haque
my full name is Nazmul
my first name is Mizanur
my last name is Rahman
my full name is Mizanur

Time and Date

In [ ]:
import time
print(time.time())   # time() function return the current time in seconds..

seconds=1698718218.4491515
print(time.ctime(seconds)) # ctime() function return the current date...

print("I Love You") # sleep function gives the output after the define particular time...
time.sleep(3)
print("Allah")

import datetime
print(datetime.date.today())

print(datetime.datetime.utcnow())

1698719001.4067845
Tue Oct 31 02:10:18 2023
I Love You
Allah
2023-10-31
2023-10-31 02:23:24.421126

# Object Oriented Programming

In [ ]:

class person:

  def __init__(self,name,age,gender):
    self.name=name
    self.age=age
    self.gender=gender


p1=person("nazmul",23,"male")

print(p1.name)
print(p1.age)
print(p1.gender)

nazmul
23
male